.container {
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #fff; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 2s ease;
    z-index: 10;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinning-image {
    height: 20vw; 
    max-height: 300px;
    width: auto;
    animation: spin 4s linear infinite;
}


.fade-out {
    opacity: 0;
}


.loading-text {
    position: absolute;
    bottom: 30px; 
    font-size: 1.2em;
    color: #333;
    animation: fade-blink 2s ease-in-out infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
