.login-container {
    z-index: 1;
    width:100%;
    height:100vh;
    background-image:url('./assets/GenshinImpact2024-10-2921-55-28-ezgif.com-crop.webp');
    background-repeat:no-repeat;
    background-attachment:fixed;
     background-size:cover;
}